:root {
    --lime: #9eab05;
    --charcoal: #424a52;
    --pink: #d10373;
    --purple: #6a2150;
    --red: #c70540;
    --yellow: #e3ba12;
    --gold: #f49103;
    --aqua: #0085a1;
    --blue: #003896;
    --green: #006338;
    --midgrey: #adafaf;
    --ltgrey: #f3f3f3;
}

@font-face {
    font-family: "Regular";
    src: url("OpenSans-Regular.ttf");
}

@font-face {
    font-family: "SemiBold";
    src: url("OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "ExtraBold";
    src: url("OpenSans-ExtraBold.ttf");
}

body {
    font-family: "Regular", sans-serif;
    margin: 20px auto;
    background-color: var(--ltgrey);
}

h1 {
    font-family: "ExtraBold", sans-serif;
    text-align: center;
    padding: 0px 20px
}

h3 {
    font-family: "SemiBold", sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0 auto 4px
}

table.desc {
    margin: 0 auto
}

td,
th {
    padding: 2px 5px
}

td.right,
th.right {
    font-family: "SemiBold", sans-serif;
    text-align: right;
}

#hist-row,
#box-row {
    margin: 10px
}

#collapse1,
#collapse2 {
    margin: 10px auto
}

#toggle {
    margin: 10px;
    background-color: #003896;
    width: 250px
}

.mean-key {
    border-top: 3px solid var(--gold);
    display: block;
    width: 30px
}

.median-key {
    border-top: 3px solid var(--green);
    display: block;
    width: 30px
}

.std-key {
    border-top: 3px solid var(--aqua);
    display: block;
    width: 30px
}

.q1-key {
    border-top: 3px solid var(--red);
    display: block;
    width: 30px
}

.q3-key {
    border-top: 3px solid var(--red);
    display: block;
    width: 30px
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}